@font-face {
    font-family: Rightland;
    src: url('../fonts/rightland/Rightland.otf');
}

@font-face {
    font-family: Summer;
    src: url('../fonts/summer_2/Summer-PersonalUse.ttf');
}

@font-face {
    font-family: Jack Input;
    src: url('../../fonts/jackinput/JAi_____.TTF');
}

#footer, #footermovil {
    background: url('../../img/Guía\ de\ estilos/img/fondo footer.png');
}

.img-footer {
    width: 50px;
    height: 50px;
    float:right;
}

.img-footer-m {
    width: 50px;
    height: 50px;
}

/*footer en tablet y pc*/
@media screen and (max-width:400px) {
    #footer {
        display: none;
    }
}

/* footer en móviles*/
@media screen and (min-width:400px) {
    #footermovil {
        display: none;
    }
}


.jackinput {
    font-family: Jack Input;
}