@font-face {
    font-family: Rightland;
    src: url('../fonts/rightland/Rightland.otf');
}

@font-face {
    font-family: Summer;
    src: url('../fonts/summer_2/Summer-PersonalUse.ttf');
}

@font-face {
    font-family: Jack Input;
    src: url('../fonts/jackinput/JAi_____.TTF');
}


html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    width: 350px;
    height: 350px;
}

.texto {
    font-family: Jack Input;
    font-size: 14px;
}

/*color de fondo y borde de la sección del carrusel*/
#carru {
    background-color: #e6e1e0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/*carrousel desaparece en dispositivos pequeños*/
@media screen and (max-width:800px) {
    #carrooculto {
        display: none;
    }
}

/*lista de fotos sustituyen el carrousel en dispositivos pequeños*/
@media screen and (min-width:800px) {
    #imgfila {
       display: none;
    }
}

/*tamaño de imágenes fiesta para tablet*/
@media screen and (min-width:760px) {
    .fotofiesta {
        width: 100%;
        height: 400px;
    }
}

/* tamaño de imágenes fiesta para móvil*/
@media screen and (max-width:760px) {
    .fotofiesta {
        width: 100%;
        height: 250px;
    }
}


.sombrita {
    -webkit-box-shadow: 2px 2px 39px 8px rgba(13,10,13,1);
    -moz-box-shadow: 2px 2px 39px 8px rgba(13,10,13,1);
    box-shadow: 2px 2px 39px 8px rgba(13,10,13,1);
}
.jackinput {
    font-family: Jack Input;
}

#tabladatos {
    border-bottom: 1px solid black;
}

