@font-face {
    font-family: Rightland;
    src: url('../fonts/rightland/Rightland.otf');
}

@font-face {
    font-family: Summer;
    src: url('../fonts/summer_2/Summer-PersonalUse.ttf');
}

@font-face {
    font-family: Jack Input;
    src: url('../fonts/jackinput/JAi_____.TTF');
}

/*menú hamburguesa */

html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hamburger {
    position: fixed;
    left: 0;
    top: 0;
    height: 30px;
    width: 30px;
    padding: 20px 20px;
    transform: translate3d(0, 0, 0);
    transition: transform 0.25s ease-in-out;
    z-index: 1002;
    cursor: pointer;            
}
._layer {
    background: #333333;
    margin-bottom: 4px;
    border-radius: 2px;
    width: 28px;
    height: 4px;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: all 0.25s ease-in-out;
}

.hamburger:hover .-top {
    transform: translateY(-100%);
    background: #F2E205;
}

.hamburger:hover .-mid {
    background: #F27405;
}

.hamburger:hover .-bottom {
    transform: translateY(100%);
    background: #A62F03;
}

.hamburger.is-active .-top {
    transform: translateY(200%) rotate(45deg);
}

.hamburger.is-active .-mid {
    opacity: 0;
}

.hamburger.is-active .-bottom {
    transform: translateY(-200%) rotate(135deg);
}

.menuppal {
    background-color:rgba(255,255,255,0.9);
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s ease-in-out;
    width: 100%;
    z-index: 1001;
}
.menuppal.is-active {
    transform: translate3d(0px, 0px, 0px);
}

.menuppal ul {
    margin: 0;
    padding: 0;
}

.menuppal ul li {
    list-style: none;
    text-align: center;            
    font-size: 2rem;            
    padding: 20px;
}

.menuppal ul li a {
    text-decoration: none;
    font-family: Rightland;
    color: black;
}

.home, .artistas, .loc, .inscribir {
    transition: all 0.5s;
}

.home:hover {
    color: #F2E205;
    font-size: 2.5rem;
}

.artistas:hover {
    color: #F2B705;
    font-size: 2.5rem;
}

.loc:hover {
    color: #F27405;
    font-size: 2.5rem;
}

.inscribir:hover {
    color: #A62F03;
    font-size: 2.5rem;
}
/*encabezado*/


#titulo {
    background-color: #ece2c6;
    padding-top: 2px;
    border-bottom: 1px solid black;
}

#inicio {
    margin-top: 20px;
}

.cartel {
    font-family: Summer;
    font-size: 50px;
    font-weight: bold;
}

/*tamaño imágenes de olas*/
.olas {
    width: 50px;
    height: 50px;
}

/*alinear la ola de la derecha a la derecha de su div*/
.oleaje {
    float: right;
}

/* las olas no aparecen en móviles por tema estético*/
@media screen and (max-width: 768px) {
    .olas {
        display: none;
    }
}

.titulosec {
    font-family: Rightland;
    font-size: 24px;
    color: #260801;
    letter-spacing: 3px;
}